.photo-grid__list {
    display: grid;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid__list {
    gap: 14px;
  }
}

@media screen and (max-width: 500px) {
  .photo-grid__list {
    gap: 12px;
  }
}
