.places {
  max-width: 984px;
  margin: 92px auto 92px;
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    gap: 73px;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    gap: 50px;
    margin: 0 auto 66px;
  }
}
