.header {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px 48px 56px 48px;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin: 28px 48px 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 28px 24px 48px 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    min-width: 288px;
    margin: 16px 16px 48px 16px;
  }
}