.footer__link {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  transition: .2s ease-in-out;
  padding-right: 18px;
}

.footer__link:hover {
  opacity: .5;
}

@media screen and (max-width: 320px) {
  .footer__link {
    padding-right: 0;
    padding-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }
}
