.lead__title {
  max-width: 720px;
  font-family: 'inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 33px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 0 auto 32px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto 32px;
  }
}

@media screen and (max-width: 500px) {
  .lead__title {
    margin: 0 16px 16px;
  }
}
