.place__paragraph {
    margin: 0;
    margin-bottom: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
  }
  
  .place__paragraph:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1023px) {
    .place__paragraph {
      font-size: 16px;
      line-height: 1.62;
    }
  }