.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
  
@media screen and (max-width: 500px) {
  .footer__copyright {
    padding-top: 48px;
    font-size: 14px;
    line-height: 14px;
  }
}