.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;

  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.cover__background:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: .3;
  transition: .3s ease;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 500px) {
  .cover__background {
    min-height: 200px;
  }
} 

