.cover__title {
  margin: 0 auto 32px;
  max-width: 560px;
  position: relative;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 500px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto 16px;
  }
}